@model IEnumerable<SIPP.Models.Agendamento>

@{
    ViewData["Title"] = "Index";

}

<div class="container mt-4">

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info">
            <p>@ViewBag.Message</p>
        </div>
    }

    @if (Model.Any())
    {
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <p><strong>Data:</strong> @Html.DisplayFor(modelItem => item.DataAge)</p>
                            <p><strong>Hora:</strong> @Html.DisplayFor(modelItem => item.HoraAge)</p>
                            <p><strong>Cliente:</strong> @Html.DisplayFor(modelItem => item.Cliente.Nome)</p>
                            <p><strong>Telefone para contato:</strong> @Html.DisplayFor(modelItem => item.Cliente.Telefone)</p>
                            <p><strong>Corretor:</strong> @Html.DisplayFor(modelItem => item.Corretor.Nome)</p>
                            <p><strong>Imóvel:</strong> @Html.DisplayFor(modelItem => item.Imovel.Endereco)</p>
                        </div>
                        <div>
                            <a asp-action="Delete" asp-route-id="@item.AgendamentoId" class="price-button">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>