@model IEnumerable<SIPP.Models.Imovel>

@{
    ViewData["Title"] = "Index";
}


<h1>Imóveis</h1>

<p>
    <a asp-action="Create">Adicionar Imóvel</a>
</p>


    <div class="house-container ">
    @foreach (var item in Model)
    {


        <div class="card justify-content-center m-3" style="width: 18rem; ">
           
            
            <div class="card-body">
                    <img src="@item.Imagem" />
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Endereco)</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.cidade)</li>
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.QntDormitorios) </li>
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.QntGarragem)</li>
                    <li class="list-group-item"> @Html.DisplayFor(modelItem => item.Tamanho)</li>
                    <li class="list-group-item"> @Html.DisplayFor(modelItem => item.TamanhoAreaContuida)</li>
                    <li class="list-group-item"> @Html.DisplayFor(modelItem => item.MetodoPagamento)</li>
                    <li class="list-group-item"> @Html.DisplayFor(modelItem => item.TipoDeServico)</li>

                </ul>
                <!-- Button trigger modal -->
                <button type="button" class="price-button" data-bs-toggle="modal" data-bs-target="#janelaCentralizada">
                    @Html.DisplayFor(modelItem => item.Valor)
                </button>

            </div>
        </div>
    }
</div>

