@model SIPP.Models.Corretor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Corretor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemDeTrabalho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemDeTrabalho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CRECI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CRECI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CorretorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
